            One way databinding= {{::random}} <br>
            two way databinding= {{random}} <br>   
    water : teest = {{water}}<br>
            <button ng-click="submit()">Change </button>
            
       
            <input type="text" ng-model="random">

<br>



<!--
<input type="text" id="src" class="db" data-message="Please enter a source city" tabindex="1" align="center">

<ul class="autoFill">
    
    <li data-id="733" data-no="1" select-id="results[0]" class="selected">Delhi</li>
    <li data-id="94113" data-no="2" select-id="results[1]">Delhi Airport</li>
    <li data-id="74659" data-no="3" select-id="results[2]">Delhi Package</li>
    <li data-id="71868" data-no="4" select-id="results[3]">Delhi Darshan </li>
    <li data-id="1215" data-no="5" select-id="results[4]">Delhi 1 day Tour</li>
    <li data-id="71933" data-no="6" select-id="results[5]">Delhi Sight Seeing</li>

</ul>
-->