<!doctype html>


<html>
    <head>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    </head>
    <body ng-app="app">
    
    <h1 class="jumbotron"> First Angular Apps</h1>
        
        
        outside contoller ->{{random}}
        
        
        <binding></binding>
        
        
        <div ng-controller="appCtrl">
            
            
        
          <div ng-include="'/views/binding.html'"></div>
            
            
            <binding></binding>
            
            <person-form></person-form>
            <person-table></person-table>
            
            
        
            
            
            <br>
            <h1>ng-repeat sample</h1>
            
            
            <input type="text" ng-model="animal">
            <button ng-click="addAnimal()">Animal</button>
            
            <ol>
               <ul ng-repeat="item in sampleArray track by $index">{{item}}</ul>
                
           </ol>
            
            
            
        </div>
    
       <div class="tour-wave-step-wrapper">
                    <cc-wave class="cc-wave-very-wide ng-isolate-scope"><div class="cc-wave">
                <div class="cc-wave-cradle">
                  <div class="cc-wave-svg cc-wave-sidekick"></div>
                </div>
                <div class="cc-wave-effect-shadow"></div>
                <div class="cc-wave-cradle cc-wave-cradle-second">
                  <div class="cc-wave-svg cc-wave-main" style="color:red"></div>
                </div>
                <div class="cc-wave-effect-shadow cc-wave-effect-shadow-reverse"></div>
               </div></cc-wave>
           
           
           
        
           
           
                  </div>
        
        
           <div>
               
               <h1>  Using Direcives</h1>
               
               <!--Using Element-->
                <person-form> </person-form>
        
               <!--Using attribute -->
               <div person-form></div>
               
                <!--Using Class-->
               <span class="person-form"></span>
               
        </div>
        
        
        
         
        
        
        <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="/script/app.js"></script>
        
        <script type="text/javascript" src="/script/controllers/appCtrl.js"></script>
         <script type="text/javascript" src="/script/services/person.js"></script>
        <script type="text/javascript" src="/script/services/personFactory.js"></script>
        <script type="text/javascript" src="/script/directives/personFormt.js"></script>
        <script type="text/javascript" src="/script/directives/binding.js"></script>
        <script type="text/javascript" src="/script/directives/personTable.js"></script>
        
    </body >
</html>