<!doctype html>


<html>
    <head>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    </head>
    <body ng-app="app">
    
    <h1 class="jumbotron"> First Angular Apps</h1>
        
        
        outside contoller ->{{random}}
        
        <div ng-controller="appCtrl">
        
            One way databinding= {{::random}} <br>
            two way databinding= {{random}} <br>   
        <button ng-click="submit()">Change </button>
            
        
        <input type="text" ng-model="random">
        <br>
            <h1>Form Sample </h1>
                <table class="table table-striped">
                    <tr>
                        <th>First Name</th>
                        <td>
                            <input type ="text" ng-model="formModel.firstName"></td>   </tr>
                    
                        <tr>
                           <th> Last Name</th>
                        <td>
                            <input type ="text" ng-model="formModel.lastName"></td></tr>
                    
                        <tr>
                            <th> Phone</th>
                            <td>
                            <input type ="text" ng-model="formModel.phone"></td></tr>
                    
                    
                    
                 
            
            
            
            
            </table>
            
            <button ng-click="sampleSubmit()">Submit</button>
            
            <table class="table table=hover">
            <tr>
                <th>First Name</th>
                <th>LAst Name</th>
                <th>phone</th>
                
                </tr>
                
                <tr ng-repeat="person in personArray track by $index">
                    <td>{{person.firstName}}</td>
                    <td>{{person.lastName}}</td>
                    <td>{{person.phone}}</td>
                </tr>
            
            </table>
            
            
            
            <br>
            <h1>ng-repeat sample</h1>
            
            
            <input type="text" ng-model="animal">
            <button ng-click="addAnimal()">Animal</button>
            
            <ol>
               <ul ng-repeat="item in sampleArray track by $index">{{item}}</ul>
                
           </ol>
            
            
            
        </div>
    
       <div class="tour-wave-step-wrapper">
                    <cc-wave class="cc-wave-very-wide ng-isolate-scope"><div class="cc-wave">
                <div class="cc-wave-cradle">
                  <div class="cc-wave-svg cc-wave-sidekick"></div>
                </div>
                <div class="cc-wave-effect-shadow"></div>
                <div class="cc-wave-cradle cc-wave-cradle-second">
                  <div class="cc-wave-svg cc-wave-main" style="color:red"></div>
                </div>
                <div class="cc-wave-effect-shadow cc-wave-effect-shadow-reverse"></div>
               </div></cc-wave>
           
           
           
           
           
                  </div>
        
        
        
        
        
        
         
        
        
        <script type="text/javascript" src="/angular_project1/node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="/angular_project1/script/app.js"></script>
        <script type="text/javascript" src="/angular_project1/script/controllers/appCtrl.js"></script>
        
    </body >
</html>