
            
        <br>
            <h1>Form Sample </h1>
                <table class="table table-striped">
                    
                    
                    
                     <caption>
            <h3>preson search</h3>
            
            <input style="float:right" type:"text" ng-model="search" placeholder="search table">
            
            
            </caption>
            
                    
                    
                    
                    <tr>
                        <th>First Name</th>
                        <td>
                            <input type ="text" ng-model="formModel.firstName"></td>   </tr>
                    
                        <tr>
                           <th> Last Name</th>
                        <td>
                            <input type ="text" ng-model="formModel.lastName"></td></tr>
                    
                        <tr>
                            <th> Phone</th>
                            <td>
                            <input type ="text" ng-model="formModel.phone"></td></tr>
                    
                    
            </table>
            <button ng-click="sampleSubmit()">Submit</button>