 <div class="tour-wave-step-wrapper">
                    <cc-wave class="cc-wave-very-wide ng-isolate-scope"><div class="cc-wave">
                <div class="cc-wave-cradle">
                  <div class="cc-wave-svg cc-wave-sidekick"></div>
                </div>
                <div class="cc-wave-effect-shadow"></div>
                <div class="cc-wave-cradle cc-wave-cradle-second">
                  <div class="cc-wave-svg cc-wave-main" style="color:red"></div>
                </div>
                <div class="cc-wave-effect-shadow cc-wave-effect-shadow-reverse"></div>
               </div></cc-wave>
           
           
           
        
           
           
                  </div>